body {
    font-size: 1.1em;
    background-color: bisque;
}

h1 {
    color: darkgreen;
}

.chat {
    height :200px;
    width: 150px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

form input{
    margin: 5px;
    width: 200px;
    

}